/* Container styles */
.outlet-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Make the outlet take the rest of the available space */
  margin: 20px;
   /* Light background for contrast */
   /* Curve the content area edges */
  /* Subtle shadow for outlet area */
  flex-wrap: wrap;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet-container {
  background-color: #f4f6f8;
  /* background-color: white; */
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Text styles */
p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive design for mobile */
@media (max-width: 600px) {
  .outlet-content{
    background-color: transparent;
    margin: 0;
    box-shadow: none;
  }
  .wallet-container {
    padding: 20px;
  }

  button {
    width: 100%;
    padding: 12px;
  }

  p {
    font-size: 16px;
  }
}