  /* Content section for Election Cards */
  .outlet-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Make the outlet take the rest of the available space */
    margin: 20px;
    margin-right:0 ;
     /* Subtle shadow for outlet area */
    flex-wrap: wrap;
  }
.content-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */
}
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
  }
  
  /* Pagination section */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  /* Pagination buttons */
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  /* Page indicator */
  span {
    font-size: 16px;
    color: #333;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
  .outlet-content{
    background-color: transparent;
    margin: 0;
  }
    button {
      padding: 8px 12px;
    }
  
    span {
      font-size: 14px;
    }
  }
  