.navbar {
  background-color: #e0f7fa; 
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
}

.logo-search {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00796b;
  margin-right: 20px;
  font-family: "Pacifico","Updock", cursive;
  font-size: 36px; 
  color: #00796b;
}

.search input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 2px solid #00796b;
  outline: none;
  width: 250px;
  font-size: 16px;
  color: #00796b;
}

.search input::placeholder {
  color: #00796b;
  opacity: 0.8;
}

.election-button .button {
  background-color: #00796b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.election-button .button:hover {
  background-color: #004d40; 
  border: 2px solid #004d40;
}

.common a {
  margin: 0 15px;
  color: #00796b;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.common a.active {
  color: #004d40; 
}

.common a:hover {
  color: #004d40;
}

.handbargermenu {
  display: none; 
  cursor: pointer;
  color: #00796b;
}

.handbargermenu i {
  font-size: 24px;
}

.ul-container {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #e0f7fa;
  width: 250px;
  padding: 0;
  border-radius: 5px;
  display: none;
  flex-direction: column;
}

.ul-container li {
  padding: 12px 20px;
  border-bottom: 1px solid #ccc;
}

.ul-container li:last-child {
  border-bottom: none;
}

.ul-container.open {
  display: flex;
}

.ul-container a {
  color: #00796b;
  font-weight: bold;
  text-decoration: none;
}

.ul-container a:hover {
  color: #004d40;
}

@media (max-width: 1180px) {
  .search input {
    width: 180px; 
  }

  .election-button .button {
    padding: 8px 15px;
  }
  .election-button-main {
    display: none;
  }
  .common {
    display: none;
  }

  .handbargermenu {
    display: block; 
  }

  .ul-container.open {
    display: flex; 
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 20px; 
    font-weight: bold;
  }

  .search input {
    width: 140px; 
  }

  .navbar {
    padding: 10px 20px; 
  }
}
